@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Guminert";
  src: url("/fonts/Guminert Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guminert";
  src: url("/fonts/Guminert Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Guminert";
  src: url("/fonts/Guminert Semi Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Shocka Family";
  src: url("/fonts/Shocka Family Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-ggg-gray-900 px-3 pt-4 pb-6 lg:py-16 lg:px-[60px] max-w-[1920px] mx-auto;
}

address {
  @apply not-italic;
}
